body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", sans-serif;
}

h1 {font-family: "Sacramento", cursive;}

h2{font-family: "Montserrat", sans-serif;}

h3{font-family: "Montserrat", sans-serif;}


div{
}

.first-div {
    background-color: #f9e6ff;
    padding-top: 100px;
    position: relative;
}

.second-div {
    background-color: red;
    margin-left: 260px;
    height: 200px;
    width: 200px;
}

.third-div {
    background-color: yellow;
    margin-left: 500px;
    height: 200px;
    width: 200px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    /**left: 1100px;**/
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.producer{
    text-decoration: underline  ;
}